name: Basic Tests

on:
  workflow_dispatch:

# permissions:
#   contents: read

permissions:
  contents: read

jobs:
  dynamic-node:
    if: always()
    runs-on: ubuntu-latest
    steps:
         
      - uses: step-security/harden-runner@c51e8eeb6c4fdcd08f65e43a051dacdbfaa69702 # rc
        with:
          egress-policy: audit
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - run: which node
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "16"
          
      - run: which node
      
      - run: node req.js
      
  owner-mismatch:
     if: always()
     runs-on: ubuntu-latest
     steps:
            
      - uses: step-security/harden-runner@c51e8eeb6c4fdcd08f65e43a051dacdbfaa69702 # rc
        with:
            egress-policy: audit
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        
      - run: curl -XPOST https://api.github.com/repos/malicious-owner/malicious-repo
    

