name: Github API Calls

on:
  workflow_dispatch:

# permissions:
#   contents: read

permissions:
  contents: read

jobs:
    issue-create:
        permissions:
            contents: write
            issues: write
        if: always()
        runs-on: ubuntu-latest
        steps:

          - run: free -m 
     
          - uses: step-security/harden-runner@c51e8eeb6c4fdcd08f65e43a051dacdbfaa69702 # rc
            with:
              egress-policy: audit              
          - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
          - uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
          - run: free -m 

    
    create-pr:
        permissions:
          contents: write
          pull-requests: write
        if: always()
        runs-on: ubuntu-latest
        steps:

          - run: free -m 
          - uses: step-security/harden-runner@c51e8eeb6c4fdcd08f65e43a051dacdbfaa69702 # rc
            with:
              egress-policy: audit
              
          - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
          - run: "echo '// changes' >> main.js"
          - name: Create Pull Request
            uses: peter-evans/create-pull-request@4e1beaa7521e8b457b572c090b25bd3db56bf1c5 # v5.0.3
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          - run: free -m 

    comment-on-pr:
        permissions:
          contents: write
          issues: write
          pull-requests: write
        if: always()
        runs-on: ubuntu-24.04
        steps:
            
          - uses: step-security/harden-runner@c51e8eeb6c4fdcd08f65e43a051dacdbfaa69702 # rc
            with:
             egress-policy: audit     

          - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

          - name: Comment PR
            uses: thollander/actions-comment-pull-request@fabd468d3a1a0b97feee5f6b9e499eab0dd903f6 # v2.5.0
            with:
             message: |
              Hello world ! :wave:
             pr_number: 1
        
    dispatch-workflow:
        permissions:
          contents: write
          actions: write
        if: always()
        runs-on: ubuntu-latest
        steps:
    
          - run: free -m 
          - uses: step-security/harden-runner@c51e8eeb6c4fdcd08f65e43a051dacdbfaa69702 # rc
            with:
              egress-policy: audit  
          
          - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
          - name: Invoke workflow without inputs
            uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
            with:
              workflow: enumeration.yml
          - run: free -m
