name: Tmate
on: [workflow_dispatch]
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          auth.docker.io:443
          azure.archive.ubuntu.com:80
          esm.ubuntu.com:443
          files.pythonhosted.org:443
          github.com:443
          objects.githubusercontent.com:443
          packages.microsoft.com:443
          production.cloudflare.docker.com:443
          pypi.org:443
          registry-1.docker.io:443
          ssh.tmate.io:22

    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
      with:
        detached: true
        
    - name: Build and push Docker image
      uses: docker/build-push-action@f2a1d5e99d037542a71f64918e516c093c6f3fc4
      with:
        context: .
        push: false
